{% extends 'base.html.twig' %}

{% block title %}{% trans %}New User{% endtrans %}{% endblock %}

{% block body %}
  <section class="home">
    <div class="text">
    
    <h1>{% trans %}Create new User{% endtrans %}</h1>

    {{ include('admin/employe/_form.html.twig') }}

    <a href="{{ path('app_employe_index') }}">{% trans %}Back to List{% endtrans %}</a>

  </div>
   </section>   
{% endblock %}

{% block javascripts %}

<script src="{{ asset('assets/js/autocomplete.js') }}" defer></script>

{% endblock %}

