{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Customer{% endtrans %}{% endblock %}

{% block body %}
  <section class="home">
    <div class="text">
     
    <h1>{% trans %}Edit Customer{% endtrans %}</h1>

    {{ include('admin/customer/_form.html.twig', {'button_label': 'Update'}) }}

    {# {{ include('customer/_delete_form.html.twig') }} #}
    
    </div>
   </section>
{% endblock %}

{% block javascripts %}

<script src="{{ asset('assets/js/autocomplete.js') }}" defer></script>

{% endblock %}

