{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Customer{% endtrans %}{% endblock %}

{% block body %}
  <section class="home">
    <div class="text">
     
    <h1>{% trans %}Create a Customer{% endtrans %}</h1>

    {{ include('admin/customer/_form.html.twig') }}

    <a href="{{ path('app_customer_index') }}" class= "retour">{% trans %}Back to Customers{% endtrans %}</a>
    
    </div>
   </section>
{% endblock %}

{% block javascripts %}

<script src="{{ asset('assets/js/autocomplete.js') }}" defer></script>

{% endblock %}
