<p>Bonjour{{user.firstname}}{{ user.lastname}}</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : 
<a href="{{url|raw}}">Réinitialiser mon mot de passe</a></p>
<p>Merci, votre équipe Clean This</p>