<p>Bonjour{{user.firstname}}{{ user.lastname}}, bienvenu dans l'équipe CleanThis!</p>
<p>Voici votre mot de passe temporaire: {{password}}</p>
<p>Veuillez le réinitialiser en cliquant sur le lien ci-dessous
<a href="{{url|raw}}">Réinitialiser mon mot de passe</a></p>
<p>A très bientôt,</p>
<p>Votre équipe CleanThis.</p>