<p>Bonjour {{user.firstname}} {{ user.lastname}}</p>
<p>Pour la création de votre mot de passe, veuillez cliquer sur le lien suivant : 
<a href="{{url|raw}}">créer mon mot de passe</a></p>
<p>Merci à vous, </p>
<p>Votre équipe CleanThis</p>