{% extends 'basebis.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block stylesheets %} 
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> #}
{% endblock %}
{% block body %}

	<div class="container">
		<div class="row conexion">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card border-0 shadow rounded-3 my-5">
					<div class="card-body p-4 p-sm-5">
						<h5 class="card-title text-center mb-5 fw-light fs-5">{% trans %}Sign In{% endtrans %}</h5>
            	{% if app.user %}
		            <div class="mb-3">
			            {# <a href="{{ path('app_logout') }}">Me déconnecter</a> #}
		                </div>
	            {% endif %}
              <form method="post">
                <div class="form-floating mb-3">
                {% include "_partials/_flash.html.twig" %}
                	<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                  <label for="inputEmail">e-mail</label>
                </div>
                <div class="form-floating mb-3">
                	<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                  <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
                </div>
                <input type="hidden" name="_csrf_token">

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                   {% trans %} Remember me{% endtrans %}
                  </label>
                </div>
                <input type="hidden" name="_csrf_token">
                <div class="d-grid">
                  <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                 {% trans %} Sign In{% endtrans %}</button>
							</div>
							<hr class="my-4">
							<div class="d-grid mb-2">
								<a href="{{ path('auth_oauth_connect', {service: 'google'}) }}" class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
									<i class="fab fa-google me-2"></i>
								 {% trans %}Sign In with Google{% endtrans %}
								</a>
                                <a href="{{ path('forgotten_password')}}" class="forgot-password-link">{% trans %} Forgot password {% endtrans %}</a>
							</div>
							<div
								class="d-grid">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>{% endblock %}