{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('assets/css/success_reclamation.css')}}">
{% endblock %}


<div class="success-page">
   <img  src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
  <h2>{% trans %}Your contact request has been taken into account!{% endtrans %}</h2>
  <p>{% trans %}It will be processed within 7 days.{% endtrans %}</p>
  <p>{% trans %}Sincerely{% endtrans %},</p>
  <p>{% trans %}Your CleanThis team{% endtrans %}</p>
  <a href="{{ path('app_home') }}" class="btn-retour"> <span>{% trans %}Back to Homepage{% endtrans %}</span> </a>
</div>
</div>