{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('assets/css/error_reclamation.css')}}">
{% endblock %}

<div id="main">
    	<div class="fof">
        		<h1>{% trans %}An error occurred{% endtrans %}</h1>
                <p>{% trans %}We apologize for the inconvenience.{% endtrans %}</p>
                <p>{% trans %}Please try again later.{% endtrans %}</p>
                <a class="custom-btn btn-3" href="{{ path('app_user_profil') }}" class="profil"> <span>{% trans %}My Profile{% endtrans %}</span> </a>
    	</div>
</div>
