{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Operation{% endtrans %}{% endblock %}

{% block body %}
<section class="home">
    <div class="text">
    <h1>{% trans %}Create new Operation{% endtrans %}</h1>

    {{ include('operation/_form.html.twig') }}

    <a href="{{ path('app_operation_index') }}">{% trans %}Back to list{% endtrans %}</a>
      </div>
</section>
{% endblock %}

